--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
numpy
opencv-python
pillow
pycocotools
pyyaml
torch
ultralytics
matplotlib
imutils
argparse
groundingdino-py
segment-anything
ipywidgets
iopath
einops
ftfy
numba
ipywidgets